<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mot de passe perdu{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('build/app.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>

{% block body %}
    <body id="bodyMdpPerdu">
    <main id="mainMdpPerdu">
        <div class="row">
            <div class="offset-lg-3 col-lg-6" id="containerMdpPerdu">
                <div id="divMdpPerdu">
                    <img src="images/logoblanc.png">
                </div>
                <H1 id="mdpPerduTitre">Vous avez oubliez votre mot de passe</H1>
                <div id="mdpPerduFormulaire">
                    {{ form_start(mdp_perdu_form) }}
                    {{ form_widget(mdp_perdu_form) }}
                    {{ form_end(mdp_perdu_form) }}
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}
