<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Connexion{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('build/app.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>

{% block body %}
    <body id="bodyConnect">
    <main id="mainConnexion">
        <div class="row">
            <div class="offset-lg-5	 col-lg-2" id="containerConnect">
                <div  id="divConnect">
                    <img src="images/Logo-2.png">
                </div>
                <h4 id="titreconnect">Le match commence ici !</h4>
                <div id="connexionFormulaire">
                    {{ form_start(connexion) }}
                    {{ form_widget(connexion) }}
                    {{ form_end(connexion) }}
                </div>
                <div id="MotDePassePerdu">
                    <a href="/mdpoublier"><input  id="bouttonMotDePassePerdu" type="button" name="bouttonMotDePassePerdu" class="btn btn-warning" value="Mot de passe perdu" </a>
                </div>
                <div id="Inscription">
                    <a href="/inscription"><input  id="bouttonInscription" type="button" name="bouttonInscription" class="btn btn-info" value="Inscription" ></a>
                </div>
            </div>
        </div>

    </main>
    </body>
{% endblock %}
