<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Inscription{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('build/app.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
</head>

{% block body %}
    <body id="bodyInscription">
    <main id="mainInscription">
        <div class="row">
            <div class="offset-lg-5	 col-lg-2" id="containerInscription">
                <div  id="divInscription">
                    <img src="images/Logo-2.png">
                </div>
                <div id="inscriptionFormulaire">
                    {{ form_start(inscription) }}
                    {{ form_widget(inscription) }}
                    {{ form_end(inscription) }}
                </div>
                <div id="annuler">
                    <a href="/connexion"><input  type="button" name="boutonAnnuler" class="btn btn-warning" id="boutonAnnuler" value="Annuler" ></a>
                </div>
            </div>
        </div>
    </main>
    </body>
{% endblock %}
